langchain-core~=0.3.69
langchain-ollama~=0.3.5
pydantic~=2.11.7
pyobjc-framework-EventKit~=11.1
pyobjc-framework-cocoa~=11.1
python-dotenv~=1.1.1
git+https://github.com/python-escpos/python-escpos.git
textcase~=0.4.3